/*
    Created on : Feb, 2021
    Author     : User
*/

/*ScrollBar*/
::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

/*Global*/
@media (max-width: 992px) {
    #featured-services .box {
        text-align: center
    }

    .section-header p {
        font-size: 14px
    }

    .carousel-item .container {
        width: 100%;
        max-width: 100% !important;
        padding: 0 !important
    }

    #hero p {
        width: 100%;
        margin: 0 auto;
        font-size: 14px
    }

    #hero p.lead {
        font-size: 16px
    }
}

/*PageHeader*/
.pageHeader {
    background: url(../../images/web/bg-2.jpg);
    background-size: cover;
    background-attachment: fixed
}

.pageHeaderLayer {
    padding: 125px 0 40px;
    background: rgba(0, 0, 0, 0.75)
}

.pageHeaderLayer h1 {
    color: #FFF;
    font-size: 30px;
    margin-bottom: 10px
}

.pageHeaderLayer p {
    color: #FFF
}

@media (max-width: 992px) {
    .pageHeaderLayer {
        padding: 100px 0 30px
    }

    .pageHeaderLayer h1 {
        font-size: 24px;
        margin-bottom: 7px
    }

    .pageHeaderLayer p {
        font-size: 14px
    }
}

/*ScheduleTable*/
.scheduleBox {
    border: 1px solid #CCC;
    padding: 10px
}

.tableSchedule {
    width: 100%;
    border-collapse: separate
}

.tableSchedule tr th {
    text-align: center;
    vertical-align: middle
}

.tableSchedule tr th.thRoom a {
    border: none;
    color: #FFF;
    font-size: 14px;
    display: block;
    padding: 27px 5px;
    border-radius: 5px;
}

/*CRSLROOM*/
.crslRoom {
    background: #F7F7F7;
    padding: 30px 0 50px
}

.crslRoom .carousel-control-next, .crslRoom .carousel-control-prev {
    opacity: 1;
    width: 35px
}

.crslRoom .carousel-control-prev {
    margin-left: -40px
}

.crslRoom .carousel-control-next {
    margin-right: -40px
}

.crslRoom .carousel-control-next-icon, .crslRoom .carousel-control-prev-icon {
    background: #e7681f;
    color: #000;
    border-radius: 50%
}

.crslRoom .carousel-item {
    padding-bottom: 50px
}

.crslRoom .carousel-item h1 {
    font-size: 26px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px
}

.crslRoom .carousel-item h4 {
    font-size: 18px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px
}

.crslRoom .carousel-item p {
    font-size: 14px
}

.crslRoom .carousel-item ol {
    padding-left: 25px
}

.crslRoom .carousel-item ol li {
    font-size: 13px
}

.crslRoom .carousel-item .timeList {
    display: inline-block;
    width: 9%;
    float: left
}

.crslRoom .carousel-item .timeList a {
    display: block;
    padding: 7px 5px;
    margin: 3px;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    background: #e7681f;
    color: #FFF;
}

.crslRoom .carousel-item .btn .bi:before {
    margin-right: 5px;
    font-size: 18px
}

@media (max-width: 992px) {
    .crslRoom .carousel-item img {
        margin-bottom: 25px
    }

    .crslRoom .carousel-item h1 {
        font-size: 18px
    }

    .crslRoom .carousel-control-prev {
        margin-left: 3px;
        margin-top: 120px;
        align-items: flex-start
    }

    .crslRoom .carousel-control-next {
        margin-right: 5px;
        margin-top: 120px;
        align-items: flex-start
    }

    .crslRoom .carousel-item .timeList {
        width: 20%
    }

    .crslRoom .carousel-item .timeList a {
        display: block;
        padding: 7px 5px;
        margin: 3px;
        font-size: 12px;
    }
}

/*Search Form*/
.searchForm {
    background: #f0f0f0;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 35px
}

.searchForm label {
    font-size: 14px;
    margin-bottom: 5px
}

.searchForm .bi-search::before {
    line-height: 1.3;
    margin-right: 5px
}

/*Display Table*/
.displayTable {
    padding: 30px 0 50px
}

.scheduleBox {
    border: 1px solid #CCC;
    padding: 10px;
}

.tableSchedule tr th.thJam {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.tableSchedule tr th.thRoom {
    width: 16%;
}

.tableSchedule tr th {
    text-align: center;
    vertical-align: middle;
}

.tableSchedule tr th.thRoom a, .tableSchedule tr th.thJam a {
    border: none;
    color: #FFF;
    font-size: 12px;
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
    height: 75px;
    vertical-align: middle !important;
}

.tableSchedule tr th.thRoom a span {
    display: block;
}

.tableSchedule tr th.thRoom a small {
    display: block;
}

.tableSchedule tr td {
    border: 1px solid #CCC;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.tableSchedule tr td.tdTimes {
    border: 1px solid #0077B5;
    text-align: center;
    padding: 1px 2px 0;
    background: #007ee5;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .tableSchedule tr th.thRoom {
        width: 200px !important;
        min-width: 200px
    }

    .tableSchedule tr th.thRoom a, .tableSchedule tr th.thJam a {
        padding: 10px 5px;
        height: 55px;
    }
}

/*PRESENSI*/
.presensi {
    background: #F7F7F7;
    padding: 30px 0 50px
}

.presensiItem {
    background: #FFF;
    color: #333;
    border: 1px solid #DDD;
    padding: 20px;
    display: block;
    margin-bottom: 25px
}

.presensiItem:hover {
    border-color: #BBB
}

.presensiItem table tr td {
    padding: 3px 0;
    font-size: 14px;
    vertical-align: top
}

.presensiItem table tr td .bi:before {
    line-height: 1.4
}

.presensiItem table.table-bordered tr th {
    font-size: 14px
}

.presensiItem table.table-bordered tr td {
    padding: 3px 3px;
    font-size: 14px;
    vertical-align: middle
}

.presensiItem table.table-bordered tr td .badge {
    line-height: 1.4
}

.presensiItem table.table-bordered tr td .bi:before {
    line-height: 1.4
}

.presensiItem table.table-bordered tr td img {
    width: 100px;
    margin: 0 auto
}

.presensiItem h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px
}

.presensiItem p {
    font-size: 14px;
    margin-bottom: 10px
}

.presensiItem .btn .bi:before {
    line-height: 1.3;
    margin-right: 5px
}

@media (max-width: 992px) {
    .presensiItem {
        padding: 10px;
        margin-bottom: 15px
    }

    .presensiItem table tr td {
        padding: 3px 0;
        font-size: 13px;
        line-height: 1.4
    }

    .presensiItem table.table-bordered tr th {
        font-size: 13px
    }

    .presensiItem table.table-bordered tr td {
        font-size: 13px
    }

    .presensiItem table.table-bordered tr td .bi:before {
        line-height: 1.4
    }

    .presensiItem table.table-bordered tr td img {
        width: 50px
    }
}

.pagination .bi:before {
    line-height: 1.3
}

/*LOGIN*/
.loginPage {
    padding: 50px 0
}

.form-login {
    text-align: center
}

.form-login button {
    display: block;
    width: 100%
}

.form-login button .bi:before {
    line-height: 1.4;
    margin-right: 5px
}

.form-login h1 {
    margin: 0
}

.form-login h1 .bi {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 0
}

.form-login p {
    font-size: 28px;
    text-align: center
}

/*MODAL*/
.modal form .btn .bi:before {
    line-height: 1.4
}

/*PROFILE*/
.profile {
}

.profile img {
    border-radius: 50%;
    border: 1px solid #e7681f;
    padding: 2px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
}

.profile h4 {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 5px
}

.profile h4 a {
    font-size: 10px;
    color: #CCC;
    display: inline-block;
    margin-left: 15px;
    font-weight: normal
}

.profile h4 a .bi:before {
    line-height: 1.2;
    margin-right: 3px
}

.profile h4 a:hover {
    color: #FFF
}

.profile p.lead {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 0
}

.profile p {
    font-size: 10px;
    color: #e7681f
}

@media (max-width: 992px) {
    .profile {
        text-align: center
    }

    .profile img {
        width: 100px;
        margin-bottom: 10px
    }

    .profile h4 {
        font-size: 16px
    }

    .profile p.lead {
        font-size: 12px
    }
}


/*ADMIN*/
.admin {
    padding: 0 0 50px;
    position: relative
}

.admin .sidebar {
    z-index: 100; /* Behind the navbar */
    padding: 20px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.admin .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.admin .sidebar p {
    margin: 0;
    padding-left: 17px
}

.admin .sidebar .nav-item {
    font-size: 13px
}

.admin .sidebar .nav-link {
    font-weight: 500;
    color: #333
}

.admin .sidebar .nav-link:hover {
    background: #EEE;
    color: #000 !important
}

.admin .sidebar .nav-link.active {
    background: #EEE;
    color: #000 !important;
    border-right: 1px solid #CCC
}

.admin .sidebar .nav-link .bi:before {
    margin-right: 4px;
    color: #727272;
    font-size: 15px;
    line-height: 1.2
}

.admin .sidebar .nav-link.active {
    color: #007bff;
}

.admin .sidebar .nav-link:hover .bi:before,
.admin .sidebar .nav-link.active .bi:before {
    color: inherit;
}

.admin .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.adminContent h1 {
    font-size: 26px
}

.adminContent .table-b tr th {
    font-size: 13px
}

.adminContent .table-b tr th.th-numb {
    width: 40px
}

.adminContent .table-b tr th.th-opsi {
    width: 90px
}

.adminContent .table-b tr td {
    font-size: 13px;
    vertical-align: middle
}

.adminContent .table-b tr td .btn-tbl {
    font-size: 13px;
    padding: 1px 5px 2px
}

.adminContent .table-b tr td .btn-tbl .bi:before {
    line-height: 1.3
}

@media (max-width: 992px) {
    .admin .sidebar {
        top: 5rem;
    }
}


.resultItem2 .timeList {
    display: inline-block;
    width: 25%;
    float: left
}

.resultItem2 .timeList a {
    display: block;
    padding: 7px 5px;
    margin: 3px;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    background: #e7681f;
    color: #FFF;

}

.resultItem2 .timeList.booked a {
    background: #FEBB02;
    color: #003580
}

.opsi_peserta {
    font-size: 15px !important;
    background: orange !important;
    padding: 7px !important;
}

.my-table {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    font-size: small
}
